*.DS_Store
*.class
*.iml
*.jar
._*
.cpcache/
/env
.hg/
.hgignore
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
.rebel_readline_history
.repl
/brew-bot-ui*/
/checkouts
/classes
/lib
/node_modules
/out
/resources/public/js/compiled/**
/resources/test/**
/target
doo-index.html
figwheel_server.log
pom.xml
pom.xml.asc
