^{:ring-handler brew-bot-ui.repl.figwheel/handler
  :pre-build-hooks [brew-bot-ui.repl.figwheel/init]
  :css-dirs   ["resources/public/css"]
  :watch-dirs ["src/cljs" "src/cljc" "env/local/cljs"]}
{:main       brew-bot-ui.app
 :output-dir "target/cljsbuild/public/js"
 :output-to  "target/cljsbuild/public/js/app.js"
 :source-map true}
